@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer components {
  .btn-create {
    @apply py-2 px-4 ring-1 font-semibold rounded-lg focus: outline-none focus:ring-2 hover:ring-white;
    border: rgb(59 130 246 / 0.5);
  }

  .input {
    @apply py-2 px-4 border-b placeholder-white ring-black bg-transparent font-semibold focus: outline-none hover:border-y-slate-50;
    min-width: 80%;
  }

  .card {
    @apply py-5 px-4 w-80 ring-1 bg-transparent rounded-lg shadow-lg hover: ring-white flex justify-between;
    min-width: 50vw;
  }

  .card-disabled {
    @apply py-5 px-4 w-80 ring-1 bg-transparent rounded-lg shadow-lg ring-white flex justify-between;
    min-width: 50vw;
  }

  .btn-hover {
    @apply hover: opacity-40
  }
}

.hover-text:hover {
  color: rgb(59 130 246 / 0.5);
}

.form {
  min-width: 50vw;
}